<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="eu.kanade.tachiyomi.animeextension.fr.frunified.backup"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="androidx.core.content.FileProvider.paths"
                android:resource="@xml/backup_paths" />
        </provider>
    </application>
</manifest>
